.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: rgb(243, 243, 243);
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  background-color: rgb(78, 78, 78);
  position: absolute;
  cursor: pointer;

  transition: all 0.65s ease-in-out;
}
